@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
	--width: 600px;
	--height: 600px;
	--position: 340px;
	--icons: 0;
	--color1: #e41f7a,
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/* background: #222; */
	background: linear-gradient(45deg, #e41f7a, #604183) !important;
}

.container {
	position: relative;
	width: var(--width);
	height: var(--height);
	border: 2px solid #fff;
	border-radius: 50%;
}
.container .icon {
	position: relative;
	left: -50%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.container .icon .imgBx {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	transition: 0.5s;
	border: 1px solid #fff;
	box-shadow: 0 0 0 4px #222,
	0 0 0 6px #fff;
	transform: rotate(calc(360deg/var(--icons) * var(--i)));
	transform-origin: var(--position);
	z-index: 100;
	overflow: hidden;
	opacity: 0;
}
.container .icon .imgBx.blink_01 {
	/* animation: blink_01 2s linear infinite 1s; */
	animation-name: blink_01;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
.container .icon .imgBx.active {
	box-shadow: 0 0 0 4px #222,
	0 0 0 6px #fff;
}
.container .icon .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	transform: rotate(calc(-360deg/var(--icons) * var(--i)));
	transition: 0.5s;
	filter: grayscale(1);
	
}
.container .icon .imgBx.active img {
	filter: grayscale(0);
}
.content {
	position: absolute;
	inset:  0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content::before {
	content: '';
	position: absolute;
	inset:  60px;
	border: 4px solid transparent;
	border-left: 4px solid #ff9305;
	border-right: 4px solid #fff;
	border-radius: 50%;
	animation: animate_01 2.5s linear infinite;
	z-index: 1;
	pointer-events: none;
}
.content::after {
	content: '';
	position: absolute;
	inset:  120px;
	border: 4px solid transparent;
	border-left: 4px solid #e60a76;
	border-right: 4px solid #fff;
	border-radius: 50%;
	animation: animate_02 2.5s linear infinite;
	z-index: 1;
	pointer-events: none;
}
.contentBx {
	position: absolute;
	transform: scale(0);
	transition: 0.5s;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contentBx.active {
	transform: scale(1.0);
	opacity: 1;
	transition-delay: 0.5s;
}
.contentBx .card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap:  15px;
}
.contentBx .card .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	overflow: hidden;
}
.contentBx .card .imgBx img {
	position: absolute;
	top:  0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
 .contentBx .card .textBx {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 }

 .contentBx .card .textBx h2 {
 	position: relative;
 	font-size: 1.25em;
 	font-weight: 600;
 	color: #fff;
 	line-height: 1em;
 	text-transform: uppercase;
 	text-align: center;
}
 .contentBx .card .textBx h2 span {
 	font-size: 0.7em;
 	color: #fff;
 	font-weight: 500;
 	letter-spacing: 0.1em;
}
 .contentBx .card .textBx .sci {
 	position: relative;
 	display: flex;
 	gap:  7px;
 	margin-top: 10px;
}
.contentBx .card .textBx .sci li {
	list-style: none;
}

.contentBx .card .textBx .sci li a {
	position: relative;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #444;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: 0.5s;
}

.contentBx .card .textBx .sci li a:hover {
	background: #2196f3;
} 

.branding {
    width: calc(100% - 750px);
    padding-right: 50px;
}

.branding .company{
	font-family: 'Anton', sans-serif;
	font-size: 3em;
	text-transform: capitalize;
	border-bottom: 3px solid #ff9800;
	color: #fff;
}

.branding .title {
	font-family: 'Oswald', sans-serif;
	font-size: 2.5em;
	text-transform: capitalize;
	position: relative;
	color: #fff;
}

.title p {
	position: relative;
}

.title p::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: bottom;
	transform: rotateX(180deg);
	line-height: 1.1em;
	background-image: linear-gradient(0deg, #fff 0, transparent 95%);
	-webkit-background-clip: text;
	color: transparent;         
	opacity: 0.7;
}

@media screen and (max-width: 1000px) {
	:root {
		--width: 100%;
		--height: 100%;
		--position: 0;
	}

	body {
		display: block;
	}

	.container {
		border: 0;
	}

	.branding {
		width: 100%;
		padding: 10px;
	}

	.branding .title {
		text-align: center;
		font-size: 2em;
	}

	.title p::after {
		display: none;
	}

	.icon {
		display: none !important;
	}

	.content {
		display: block;
		overflow: auto;
		position: relative;
	}

	.content::after, .content::before {
		display: none !important;
	}

	.contentBx {
		opacity: 1 !important;
		position: relative;
		margin-bottom: 10px;
		transform: scale(1.0);
	}
}

@keyframes animate_01 {
	from {
		rotate:  0deg;
	}
	to {
		rotate:  360deg;
	}
}
@keyframes animate_02 {
	from {
		rotate:  360deg;
	}
	to {
		rotate:  0deg;
	}
}
@keyframes blink_01 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}